:root {
    --dark-background: #1F2937;
    --button-color: #3882F6;
    --quote-background: #E5E7EB;
    --white-text-one: #F9FAF8;
    --white-text-two: #E5E7EB;
}

* {
    font-family: roboto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#headerContent {
    background-color: var(--dark-background);
    display: flex;
    align-items: center;
}

a {
    color: var(--white-text-two);
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    padding-left: 12px;
}

#headerLogo {
    font-size: 24px;
    color: var(--white-text-one)
}

#headerLinks {
    margin-left: auto;
    font-weight: 18px;
    color: var(--white-text-two);
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: var(--white-text-one);
}

#title{
    background-color: var(--dark-background);
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleText {
    padding-right: 24px;
}

#titleDescription {
    font-size: 18px;
    color: var(--white-text-two);
    font-weight: 300;
}

#infoHeader {
    font-size: 36px;
    font-weight: bolder;
    color: var(--dark-background);
}

button {
    background-color: var(--button-color);
    color: var(--white-text-one);
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 48px;
    border: none;
}

#quote {
    background-color: var(--quote-background);
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: var(--dark-background);
}

#callToAction {
    background-color: var(--button-color);
}

footer {
    background-color: var(--dark-background);
    text-align: center;
    color: var(--white-text-two);
    font-weight: 300;
}